.div-princ {
    width: 100%;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.headline {
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline a {
    color: #fff ;
}
.headline a:hover {
    color: #dbdbdb;
}

.headline h1 {
    font-size: 2rem;
    color: #e34c26;
}

.container-projects {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container dos cards */
.cards-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
}

/* Card individual */
.card-project {
    background-color: #151515;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 100%;
}

.card-project:hover {
    transform: translateY(-5px);
}

/* Imagem do projeto */
.img-project {
    background-color: var(--white);
    border-radius: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* Conteúdo do card */
.content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Texto do projeto */
.text-project {
    color: #fff;
    width: 100%;
    text-align: left;
}

.text-project h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
}

.text-project span {
    font-size: 1rem;
    color: var(--blue);
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
}

.text-project p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    margin-bottom: 1rem;
}

/* Seção de tags e botão */
.cta-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.tag-project {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag-project i {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s ease;
}

/* Efeito de hover nos ícones */
.tag-project i:hover.fa-html5 {
    color: #e34c26;
}

.tag-project i:hover.fa-css3-alt {
    color: #1572B6;
}

.tag-project i:hover.fa-js {
    color: #F7DF1E;
}

.tag-project i:hover.fa-bootstrap {
    color: #7952B3;
}

.tag-project i:hover.fa-wordpress {
    color: #21759B;
}

.tag-project i:hover.fa-wix {
    color: #8c8c8c;
}

.btn-project a {
    display: block;
    text-align: center;
    padding: 0.7rem;
    background-color: #e34c26;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.3s;
    animation: puls 2s infinite;
}

.btn-project a:hover {
    background-color: #af3c1f;
}
@keyframes puls {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}